<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteBase /
</IfModule>
DirectorySlash On
PassengerEnabled On
PassengerAppRoot /home/happy/rails/table-reader-api
